{% extends "base.html" %}
{% block title %}Search page{% endblock %}

{% block content%}

<br><br>

<form method="post">


	<h2>Search:</h2>

	<input class="form-control text-center" type="text" style=" width: 80%; margin: auto auto" placeholder= "enter search word here" name="search">

	<br>
	<div class="row">
		<div class="col-sm-6" style="padding: 0px">
			<input class="btn" style="float: right; margin-right: 0px" type="submit" name="clear" value="clear the documents"><br>
		</div>
		
		<div class="col-sm-6" style="padding:0px">
			<a href= {{ url_for('index') }} style="float: left; margin-left: 0px;"  class="btn">add more documents</a>
		</div>
	</div>
	<br><br>

	{% if res: %}
	{% for i in range(l) %}
	{% autoescape false %}
		<p style="text-align: justify;"><strong>document{{i+1}}:</strong> <br>{{res[i]| replace("[", "")| replace("]", "")| replace("'", "")}}</p>
	{% endautoescape %}
	{% endfor %}
	{% endif %}


</form>

{% endblock %}